<!-- first div -->

<div class="container-fluid" style="box-shadow: 5px 10px 20px rgba(197, 156, 14, 0.2);">
  <div class="row myedit pt-5 justify-content-center align-items-center">
    <div class="col-md-6 pl-5 pr-5">
      <h2 style="font-size: 40px; font-weight: 700;">Easy way to earn <br> money online</h2>
      <p>It is a platform that pays you on each friends you invite, Simply <br> sign up now and start making money!</p>
      <div class="form-row mt-3 mb-5">
        <div class="col-md-6 col-xs-7 mr-2">
          <button style="background-color:  #F0A30D;" class="btn  btn-block text-white pt-2 pb-2" type="submit"><b>Start
              earning money now</b></button>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="pr-5">
        <img class="img-fluid mb-5 mt-5" src="assets/Big/main.png" alt="">
      </div>


    </div>
  </div>
</div>


<!-- Second div -->
<div class="container-fluid">
  <div class="row myedit  pt-5   pl-5 justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="pr-5">
        <img class="img-fluid  mt-5" src="assets/Big/Layer.png" alt="" height="500" width="400">
      </div>


    </div>
    <div class="col-md-6 pr-5">
      <div class="pl-4 pt-5">
        <h2 style="font-size: 40px; font-weight: 700;">About us</h2>
        <div class="yellow-line mt-3 mb-3"></div>
        <p>We are the company that crates a really good and big way of ernings.<br> You can simply sign in and start to
          earn money now</p>
        <div class="form-row mt-3 mb-5">
          <div class="col-md-6 mr-2">
            <button style="background-color:  #F0A30D;" class="btn  btn-block text-white pt-2 pb-2"
              type="submit"><b>Check terms & condition</b></button>

          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="row  justify-content-center align-items-center">
    <div class="container row">
      <div class="col-md-6 pt-5 ">

        <div class=" pl-5 pt-5 mt-5">
          <h3 style="font-size: 35px; font-weight: 700;">Top - 5</h3>
          <div class="yellow-line mt-3 mb-3"></div>
          <p>Top 10 Accountt Refferals list, to check out.</p>

        </div>


      </div>
      <div class="col-md-6 p-5">
        <img class=" img-fluid pt-5 ml-5  text-center" src="assets/Big/topside.png" alt="" height="400" width="300">
      </div>
    </div>



    <div class="container">
      <div class="row pl-5 ml-5 ">
        <div class="col align-self-start">
          <div class="card edit-card edit-card1 border-0 shadow-sm   mb-5 rounded-lg  text-light "
            style="box-shadow: 0px 8px 50px rgba(197, 156, 14, 0.15); background-color: #F0BE0D; width: 16rem;">

            <div class="card-body ">
              <div class="pb-2 pt-2">
                <div class="h5 font-weight-bold ">1.</div>

              </div>
              <h5 class="card-text font-weight-bold " style="font-size: 18px;">Qasim Rafique</h5>
              <p class="card-text ">403 - REFFERALS</p>

            </div>
            <div><span class="box"></span></div>
          </div>
          <div class="card  border-0    rounded-lg   "
            style="box-shadow: 0px 8px 50px rgba(197, 156, 14, 0.15); width: 16rem;">

            <div class="card-body ">
              <div class="pb-2 pt-2">
                <div class="h5 font-weight-bold ">4.</div>

              </div>
              <h5 class="card-text font-weight-bold " style="font-size: 18px;">Qasim Rafique</h5>
              <p class="card-text ">403 - REFFERALS</p>

            </div>
            <div><span class="box1"></span></div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card  border-0  mt-5  rounded-lg   "
            style="box-shadow: 0px 8px 50px rgba(197, 156, 14, 0.15); width: 16rem;">

            <div class="card-body ">
              <div class="pb-2 pt-2">
                <div class="h5 font-weight-bold ">4.</div>

              </div>
              <h5 class="card-text font-weight-bold " style="font-size: 18px;">Qasim Rafique</h5>
              <p class="card-text ">403 - REFFERALS</p>

            </div>
            <div><span class="box1"></span></div>
          </div>
          <div class="card  border-0  mt-5  rounded-lg   "
            style="box-shadow: 0px 8px 50px rgba(197, 156, 14, 0.15); width: 16rem;">

            <div class="card-body ">
              <div class="pb-2 pt-2">
                <div class="h5 font-weight-bold ">4.</div>

              </div>
              <h5 class="card-text font-weight-bold " style="font-size: 18px;">Qasim Rafique</h5>
              <p class="card-text ">403 - REFFERALS</p>

            </div>
            <div><span class="box1"></span></div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="card  border-0  mt-5  rounded-lg   "
            style="box-shadow: 0px 8px 50px rgba(197, 156, 14, 0.15); width: 16rem;">

            <div class="card-body ">
              <div class="pb-2 pt-2">
                <div class="h5 font-weight-bold ">3.</div>

              </div>
              <h5 class="card-text font-weight-bold " style="font-size: 18px;">Osama Siddiqui</h5>
              <p class="card-text ">296 - REFFERALS</p>

            </div>
            <div><span class="box1"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>


<!-- third div  CARDS-->












<div class="container-fluid mt-5 " id="plan" style="box-shadow: 0px -4px 60px rgba(197, 156, 14, 0.2);">

  <div class="row  edit3 ">

    <div class="col-md-4  pl-2 pr-2 ">
      <div class="h2" style="color: #F0BE0D; font-weight: 500;">250 000+</div>
      <p>Members are already signed in</p>
      <div class="yellow-line1 mt-3 mb-3  clearfix d-md-none"></div>


    </div>

    <div class="col-md-4">
      <div class="h2" style="color: #F0BE0D; font-weight: 500;">98 250 000+</div>

      <p>Total refferals number</p>
      <div class="yellow-line1 mt-3 mb-3  clearfix d-md-none"></div>

    </div>

    <div class="col-md-4">
      <div class="h2" style="color: #F0BE0D; font-weight: 500;">97 500+</div>
      <p>Users are invited by a friend</p>
      <div class="yellow-line1 mt-3 mb-3  clearfix d-md-none"></div>

    </div>

  </div>





  <div class="row pl-5 pb-4 ">
    <div class="col-md-12">
      <div class=" pl-5 mt-5">
        <h2 class="font-weight-bold">Buy Plans</h2>
        <div class="yellow-line mt-3 mb-3"></div>
        <p>Buy plans to start eraning money </p>

      </div>
    </div>

  </div>






  <div class="row edit4 ">
    <div class=" col-md-11">

      <h4 class=" font-weight-bold text-uppercase pb-3">Income plans</h4>
      <div class="table-responsive" style="box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03); border-radius: 8px;">
        <table class="table">
          <thead>
            <tr>
              <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none; ">Plan name</th>
              <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">No of Round</th>
              <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Total estimated earnings
              </th>
              <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Plan pricing</th>




              <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;"></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of plans | keyvalue">
              <td class="">{{item.value.planName}}</td>
              <th class=" " scope="row">{{item.value.rounds.length}}</th>

              <td class="text-success font-weight-bold">+${{item.value.totalEarning}}</td>
              <td class="font-weight-bold" style="font-size: 26px;">${{item.value.planPrice}}</td>
              <td><button style="background-color:  #F0A30D; " class="pl-3 pr-3 btn text-white "
                  (click)="buyPlan(item.value._id)"><b>Buy now</b></button>
              </td>

            </tr>

            <!-- <tr>
                    <td class="">Plan 3</td>
                    <th class=" "scope="row">3</th>
                    <td class="font-weight-bold">$20</td>
                  
                  
                   
                    <td class="text-success font-weight-bold">+$75</td>
                    <td><button style="background-color:  #F0A30D; font-size: 12px;" class="btn text-white "><b>Buy now</b></button></td>
                   
                  </tr>
                  <tr>
                    <td class="">Plan 4</td>
                    <th class=" "scope="row">4</th>
                    <td class="font-weight-bold">$20</td>
                 
                   
                  
                    <td class="text-success font-weight-bold">+$75</td>
                    <td><button style="background-color:  #F0A30D; font-size: 12px;" class="btn text-white "><b>Buy now</b></button></td>
                   
                  </tr>
                  <tr>
                    <td class="">Plan 5</td>
                    <th class=" "scope="row">5</th>
                    <td class="font-weight-bold">$20</td>
              
                   
                   
                    <td class="text-success font-weight-bold">+$75</td>
                    <td><button style="background-color:  #F0A30D; font-size: 12px;" class="btn text-white "><b>Buy now</b></button></td>
                   
                  </tr>
              -->


          </tbody>
        </table>
      </div>

      <div class=" mt-5">
        <!-- <h4 class=" font-weight-bold text-uppercase pb-3">Income plan №1</h4> -->
        <!-- <div class="table-responsive mb-5" style="box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.03); border-radius: 8px;"  >
            <table class="table">
              <thead>
                <tr>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;" >Round</th>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Activation</th>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">d-Ref-inC</th>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Network bonus</th>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Free id r-1</th>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Free id next-R</th>
                  <th class=" " scope="col" style="color:grey; font-weight: 500; border-top: none;">Total ernings</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class=" "scope="row">1</th>
                  <td class="font-weight-bold">$20</td>
                  <td class="">20%</td>
                  <td class="">$25</td>
                  <td class="">$25</td>
                  <td class="">$30</td>
                  <td class="text-success font-weight-bold">+$75</td>
                 
                </tr>
            
              
             
           
            
              </tbody>
            </table>
          </div> -->
      </div>






    </div>


  </div>

</div>


















<!-- form div -->

<section>
  <div class="container-fluid">
    <div class="row pl-4 pt-4 ">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-2">
            <div class="pl-5 mt-5">
              <h2 class="font-weight-bold">Send a message to us</h2>
              <div class="yellow-line mt-4"></div>

            </div>
            <form class="p-5">



              <div class="form-group">
                <label class=" font-weight-bold">YOUR NAME</label>
                <input type="text" class="form-control" name="name" required="" placeholder="" data-form-field="Name">
              </div>
              <div class="form-group">
                <label class=" font-weight-bold">YOUR EMAIL</label>
                <input type="email" class="form-control" name="email" required="" placeholder=""
                  data-form-field="Email">
              </div>
              <div class="form-group">
                <label class=" font-weight-bold">SUBJECT</label>
                <input type="tel" class="form-control" name="phone" placeholder="" data-form-field="Phone">
              </div>
              <div class="form-group">
                <label class=" font-weight-bold">MESSAGE</label>
                <textarea class="form-control" name="message" placeholder="" rows="7"
                  data-form-field="Message"></textarea>
              </div>

              <div class="form-row mt-3 mb-5">
                <div class="col-md-6 mr-2">
                  <button style="background-color:  #F0A30D;" class="btn  btn-block text-white pt-2 pb-2"
                    type="submit"><b>Check terms and condition</b></button>

                </div>

              </div>

            </form>
          </div>
          <div class="col-sm-6 col-sm-offset-2">
            <div class="p-5">

              <img class=" img-fluid pt-5 mt-5 text-center" src="assets/Big/formpic.png" alt="" height="500"
                width="400">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>