<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-md-3 hide"></div>
        <div class="col-md-5 pr-5  ">
            <form style="width: 100%; margin-top: 120px; margin-left: 20px;" *ngIf="isChecked && !isVerfied">
                <p class="h3 font-weight-bold mb-2 text-center">Error!</p>

                <p class="text-center text-dark mb-5" style="color: #e5e5e5;">{{errorTxt}}</p>
            </form>
            <form [formGroup]="resetPassForm" style="width: 100%; margin-top: 120px; margin-left: 20px;"
                *ngIf="isChecked && isVerfied" (ngSubmit)="updatePassword(resetPassForm.valid, resetPassForm.value)">
                <p class="h3 font-weight-bold mb-2 text-center">Reset Password </p>

                <p class="text-center text-dark mb-5" style="color: #e5e5e5;">Enter your new password below</p>

                <label class="text-left mb-2 font-weight-bold" style="font-size: 12px; font-weight: 200;">New Password
                    *</label>
                <input type="password" class="form-control" formControlName="password" class="form-control mb-3"
                    placeholder=" ********">
                <div *ngIf="isFormSubmit">
                    <label class="red-text" *ngIf="resetPassForm.controls.password.errors?.required">Confirm
                        Password is required</label>
                    <label class="red-text" *ngIf="resetPassForm.controls.password.errors?.minlength">Min
                        required length is 6</label>
                </div>
                <label class="text-left mb-2 font-weight-bold" style="font-size: 12px; font-weight: 200;">Confrim New
                    Password * </label>
                <input type="password" class="form-control" formControlName="confirmPassword" class="form-control mb-3"
                    placeholder=" ********">
                <div *ngIf="isFormSubmit">
                    <label class="red-text" *ngIf="resetPassForm.controls.confirmPassword.errors?.required">Confirm
                        Password is required</label>
                </div>


                <button class="btn btn-warning btn-block text-white pt-2 pb-2 mt-4" type="submit">
                    Change Password
                </button>
            </form>
        </div>
        <div class="col-md-2 hide"></div>
        <div class="col-md-2 hide" style="background-color:#f7f7f7;"></div>
    </div>
</div>