<!-- 
<div class="container-fluid bg-light" style="height: 100vh; text-align: center; ">

    <div class="box">
        <h1 >Your account was {{type}}</h1>
    </div>

</div>
 -->



 <div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 p-5  bg-light">
       
            <!-- <div class="p-4 mb-4 d-ininea text-center" style="background-color: white; max-width: 480px;">
    
            </div> -->
            <button class="btn btn-block btn-warning text-white">Your account was {{type}}</button>  
      
       
       
               
            
             
                
               
           
            
            
 
        </div>
     
    </div>
</div>



