<footer class=" p-5 " style="background-color: #2E2E2E; ">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-2  ">
             <img class="side-link  text-center" src="assets/Big/MLM.FO.png" alt="">
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-4 text-light  pt-2">
             <h6>Contact us</h6>
             <div class="yellow-line1 mt-2 mb-2"></div>
             <div class="mb-2">
                <img class="side-link" src="assets/Big/envelope.png" alt="">
                <span class="pl-2" style="font-size: 15px;">frazier@example.com</span> 
             </div>
             <div class="mb-2">
                <img class="side-link" src="assets/Big/Phone.png" alt="">
                <span class="pl-2" style="font-size: 15px;">(209) 555-0104</span>
             </div>
             <div>
                <img class="side-link" src="assets/Big/Location.png" alt="">
                <span class="pl-2" style="font-size: 15px;">Ukraine, Kyiv, Franko st. 794</span> 
             </div>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-4 text-light pt-2">
             <h6>Follow us on</h6>
             <div class="yellow-line1 mt-2 mb-2"></div>
             <div class="mb-2">
                <img class="side-link pr-2" src="assets/Big/linkdin.png" alt="">
                <img class="side-link pr-3" src="assets/Big/fb.png" alt="">
                <img class="side-link" src="assets/Big/instagram.png" alt="">
             </div>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-2  pt-3">
             <p style="font-size: 13px; color: rgb(131, 130, 130);">© 2006-2020 MLM</p>
          </div>
          <hr class="w-100 clearfix d-md-none">
       </div>
    </div>
 </footer>