
<div class="container-fluid">
    <div class="row" >
        <div class="col-md-6 p-5 mt-4 ">
         
            <app-signup></app-signup>

        </div>

        <div class="col-md-6 p-5" style="background-color: #f7f7f7; padding-top:80px;">
            
            <form class="p-4" style="background-color: #f7f7f7; border: none;" action="#!">

                <p class="h4 font-weight-bold mb-4 text-center">Already have an Account</p>
            
                <p class="text-center text-dark" style="color: #e5e5e5;">Nice to see you again !</p>
            
                <label class=" font-weight-bold" for="exampleFormControlInput1">Email address</label>
                <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder=" E-mail">
            
                
                <label class="text-left font-weight-bold " for="exampleInputPassword1">Your Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" class="form-control mb-3" placeholder=" 6+ characters">
            
                <p class="text-warning font-weight-bold">Forgot password</p>
                <div class="custom-control custom-checkbox mr-sm-2 p-4">
                    <input type="checkbox" class="custom-control-input " id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                    </div>
                
                
                    <button style="background-color: #2c2c2c;" class="btn btn-block text-white pt-2 pb-2 mt-3" type="submit"><b>Login</b></button>
                    <div class="text-center mt-2 mb-2"> Or</div>
                    <button style="background-color: #4267b2;" class="btn  btn-block text-white pt-2 pb-2" type="submit"><b>Continue with Facebook</b></button>
                
                <button style="background-color: #4285f4;" class="btn  btn-block text-white pt-2 pb-2" type="submit"><b>Continue with Google</b></button>
            
            
            </form>
            
        </div>
    </div>

</div>
