<div class="container-fluid bg-light" style="height: 100vh;">
    <div class="row pl-5" style="margin-left: 70px;">
        <div class="col-md-3">
            <h1 class="mb-5 mt-5 font-weight-bold" style="font-size:34px;">Settings Page</h1>
            
            <form class=" " action="#!">
                <label class="text-left font-weight-bold mt-2"  style="font-size: 14px;" for="_password">COMMISSION (PERCENTAGE)</label>
                <input type="percentage"
                class="form-control" id="_password" placeholder=" 000  %" autocomplete="off">

            </form>

            </div>

            
        </div>
        
    </div>
