<div class="container">
    <div class="row">
        <div class="icon-bar" id="icon-bar">
            <img class="logo" src="assets/Logo.png" alt="logo">
            <hr>
            <img class="list" id="list" src="assets/Big/Navbar-menu.png" alt="list" >
           <li class="active"> <img class="side-link text-center" src="assets/Big/Dashboard.png" alt="logo"></li> 
           <li class="side-item"> <img class="side-link text-center" src="assets/Big/Credit-card.png" alt=""></li> 
           <li class="side-item"> <img class="side-link text-center" src="assets/Big/Menu.png" alt=""></li> 
           <li class="side-item"> <img class="side-link text-center" src="assets/Big/Hourglass.png" alt=""></li> 
           <li class="side-item"> <img class="side-link text-center" src="assets/Big/group.png" alt=""></li> 
           <li class="side-item"> <img class="side-link text-center" src="assets/Big/Share.png" alt=""></li> 
           <li class="side-item"> <img class="side-link text-center" src="assets/Big/Logout-1.png" alt=""></li> 
          </div>
    </div>
</div>
