.nav-link{
    background-color: white;
    padding-left: 10px;
    padding-right:10px ;
}
#pills-home-tab{
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}
#pills-home-tab.active {
  color: black;
  border-bottom: 2px solid orange;
  background-color: white;
  border-radius: 0;
}

#pills-profile-tab{
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}
#pills-profile-tab.active {
    color: black;
  border-bottom: 2px solid orange;
  background-color: white;
  border-radius: 0;
 
}
#pills-contact-tab{
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}
#pills-contact-tab.active {
    color: black;
  border-bottom: 2px solid orange;
  background-color: white;
  border-radius: 0;

}
.action-button{
    margin: auto;
}

.mysearchbox{
  padding-right: 170px;
  padding-top:10px;
  padding-bottom: 10px;
  border: none;
}
#customCheck3 input[type=checkbox]:checked {
    background-color: #a77e2d !important;
    color: #ffffff !important;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
    border: none;
}

.edited-row {
  margin: 2px 72px 2px 149px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {

  background-color: orange;
  border-radius: 3px;
}


/*---------------------------------------table-------------------------------*/
.table-responsive {
  background-color: white;
}
th{
  color: rgb(206, 206, 206);
  text-transform: uppercase;
}
.icons {
  padding: 10px;
}

.approve svg path{
  fill: green !important;
}
.approve svg text{
  fill: green !important;
}
.reject svg path{
  fill: red !important;
}
.reject svg text{
  fill: red !important;
}
.reject:hover,.approve:hover{
  cursor: pointer;
}


/**-----------------media queriesss----------------/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .edited-row {
        /* margin-left: 80px; */
        margin-right: 1px;
    } 
    .main-title {
        font-size: 35px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px)  {
    .edited-row {
        margin-left: 80px;
    }
     .edited-row {
        margin-left: 80px;
    }
}
