/* You can add global styles to this file, and also import other style files */
body ,html{margin:0}
.red-validation{
    border-color: red !important;
}
.red-text{
    color: red !important;
}

.iti--separate-dial-code{
    width: 100%;
    margin-bottom: .5rem;
}