<div class="container" style="padding-left: 0;">
    <div class="row edited-row">
        <div class="col-md-7" style="background-color: #F7F7F7; height: 100vh;">
            <div class="row justify-content-center align-items-center">
                <div class="col-9 ">
                    <div class="title">
                        <h1 class="main-title" >Dashboard</h1>
                    </div>
                </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-9 ">
               <div class="title">
                   <h3 class="sub-title ">Maksym Gozhelsky</h3>
               </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-9 ">
                   <a class="pending ">pending</a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center ">
            <div class="col-9">
                <form  class="form">
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label>Deposit Date</label>
                            <select class="form-control input-lg">
                              <option selected>dd.mm.yyyy</option>
                              <option>...</option>
                            </select>
                          </div>
                          <div class="form-group col-md-5">
                            <label >Account Type</label>
                            <select  class="form-control input-lg">
                              <option selected>Pick a type</option>
                              <option>...</option>
                            </select>
                          </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label >Coupon</label>
                      <input type="text" class="form-control input-lg"  placeholder="Enter Coupon">
                          </div>
                          <div class="form-group col-md-5">
                            <button type="button" class="btn btn-dark btn-block">Apply</button>
                            
                           <!-- <a type="button" class="button">button</a> -->
                          </div>
                    </div>
                    <div class="form-group">
                        <p class="dots" style="background-color: white;">Drag or <small class="upload">Upload</small> payment proof file</p>
                    </div>
                   
                    <button type="submit" class="btn btn-submit btn-lg btn-block">Submit</button>
                  </form>
            </div>
        </div>
        </div>

        <div class="col-md-5" style="background-color: white;">
            <div class="row ">
                <div class="col-12">
                    <div class="portion-1" style="margin-top: 110px;">
                        <h3 class="side-head">Meezan Bank</h3>
                        <hr>
                    <div  style="display:flex;">
                        <p style="flex: 1; font-weight: 500;">A/C Title </p><p style="flex: 2;">GLOBAL ADS MARCETING (PRIVATE) lIMITED</p>
                    </div>
                    <hr>
                    <div  style="display:flex;">
                        <p style="flex: 1; font-weight: 500;">A/C NUM </p><p style="flex: 2;">9847756789982</p>
                    </div>
                    <hr>

                </div>
                </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <div class="portion-1" >
                    <h3 class="side-head">Support</h3>
                    <hr>
                <div  style="display:flex;">
                    <p style="flex: 1; font-weight: 500;">Withdrawal Issues</p><p style="flex: 2;">0303-0900542 (Call Only)
                    </p>
                </div>
                <hr>
                <div  style="display:flex;">
                    <p style="flex: 1; font-weight: 500;">New Registration</p><p style="flex: 2;">0343-3173314 (Call Only)
                    </p>
                </div>
                <hr>
                <div  style="display:flex;">
                    <p style="flex: 1; font-weight: 500;">Tech support</p><p style="flex: 2;">0343-3230864 (Call Only)
                    </p>
                </div>

            </div>
              
            </div>
    </div>
            
        </div>
    </div>
</div>
