<div class="container" style="padding-left: 0;">
    <div class="row edited-row">
        <div class="col-md-7" style="background-color: #F7F7F7; height: 100vh;">
            <div class="row justify-content-center align-items-center">
                <div class="col-9 ">
                    <div class="title">
                        <h1 class="main-title">Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-9 ">
                    <div class="title">
                        <h3 class="sub-title ">Maksym Gozhelsky</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-9 ">
                    <a class="pending ">pending</a>
                </div>
            </div>
            <div class="row justify-content-center align-items-center ">
                <div class="col-9">
                    <form class="form" [formGroup]="depositForm" enctype="multipart/form-data"
                        (ngSubmit)="!isRequestPending && saveDeposit(depositForm.valid, depositForm.value)">
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label>Deposit Date</label>
                                <input type="date" class="form-control input-lg" formControlName="submitDate"
                                    [ngClass]="{'red-validation': isFormSubmit && depositForm.controls.submitDate.errors?.required}"
                                    placeholder="Deposit date">
                                <div *ngIf="isFormSubmit && depositForm.controls.submitDate.errors?.required">
                                    <label class="red-text"> Please select deposit date </label>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label>Account Type</label>
                                <select class="form-control input-lg" formControlName="type">
                                    <!-- <option value="-1">Pick a type</option> -->
                                    <option value="meezan">Meezan Bank</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label>Coupon</label>
                                <input type="text" class="form-control input-lg" formControlName="coupon"
                                    placeholder="Enter Coupon">
                            </div>
                            <div class="form-group col-md-5">
                                <button type="button" class="btn btn-dark btn-block">Apply</button>

                            </div>
                        </div>
                        <input type="file" id="inputFile" name="myFile" (change)="fileChangeEvent($event)"
                            accept="image/x-png,image/jpeg">
                        <p style="overflow-wrap: break-word" *ngIf="depositSlip">
                            {{depositSlip}} &nbsp;<b (click)="removeImg()">X</b>
                        </p>
                        <div class="form-group" (click)="triggerInputFile()" (drop)="onDrop($event)"
                            (dragover)="onDragOver($event)" *ngIf="!depositSlip">
                            <p class="dots" style="background-color: white;">Drag or <small
                                    class="upload">Upload</small> payment proof file</p>
                        </div>
                        <div *ngIf="isFormSubmit && !depositSlip">
                            <label class="red-text"> Please attach payment proof file </label>
                        </div>
                        <button type="submit" class="btn btn-submit btn-lg btn-block">
                            <i *ngIf="isRequestPending" class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                            &nbsp;Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5" style="background-color: white;">
            <div class="row ">
                <div class="col-12">
                    <div class="portion-1" style="margin-top: 110px;">
                        <h3 class="side-head">{{bankDetails.bankName}}</h3>
                        <hr>
                        <div style="display:flex;">
                            <p style="flex: 1; font-weight: 500;">A/C Title </p>
                            <p style="flex: 2;">{{bankDetails.accountTitle}}</p>
                        </div>
                        <hr>
                        <div style="display:flex;">
                            <p style="flex: 1; font-weight: 500;">A/C NUM </p>
                            <p style="flex: 2;">{{bankDetails.accountNumber}}</p>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    <div class="portion-1">
                        <h3 class="side-head">Support</h3>
                        <hr>
                        <div style="display:flex;">
                            <p style="flex: 1; font-weight: 500;">Withdrawal Issues</p>
                            <p style="flex: 2;">{{bankDetails.withdrawalIssue}}
                            </p>
                        </div>
                        <hr>
                        <div style="display:flex;">
                            <p style="flex: 1; font-weight: 500;">New Registration</p>
                            <p style="flex: 2;">{{bankDetails.newRegistration}}
                            </p>
                        </div>
                        <hr>
                        <div style="display:flex;">
                            <p style="flex: 1; font-weight: 500;">Tech support</p>
                            <p style="flex: 2;">{{bankDetails.techSupport}}
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>