<nav class="navbar navbar-expand-lg navbar-light pt-3 pb-3 " style="border-bottom: 0.4px solid #F7F7F7;">
    <div class="container">
        <img class="side-link text-center" src="assets/Big/MLM.CO.png" alt="">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rounds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comission</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-middle></app-middle>
<app-footer></app-footer>